<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.back.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, email, points, credit_score)
        VALUES (#{username}, #{password}, #{email}, #{points}, #{creditScore})
    </insert>

    <select id="findByUsername" resultType="org.example.back.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectById" resultType="org.example.back.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE user
        SET
        username = #{username},
        password = #{password},
        email = #{email},
        points = #{points},
        credit_score = #{creditScore}
        WHERE id = #{id}
    </update>

</mapper>